<ion-header mode="ios">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title class="text-xl">Account</ion-title>
        <div slot="end" class="px-2">
            <ion-icon name="create-outline"></ion-icon>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="profile-banner p-6 text-center border-b-4 border-gray-300">
        <ion-avatar class="mx-auto" size="large">
            <img src="/assets/images/avatar1.jpg" alt="">
        </ion-avatar>

        <div class="text-center w-2/3 mx-auto">
            <ion-title>Username</ion-title>
            <small class="text-gray-400">33 Jalan rozhan cherok tokun, 14000 Pulau Pinang</small>
        </div>
    </div>

    <ion-list>
        <ion-item class="border-b-2 border-gray-300" lines="none">
            <ion-label class="text-md font-bold">Full Name</ion-label>
            <ion-text class="text-gray-400">John Doe</ion-text>
        </ion-item>
        <ion-item class="border-b-2 border-gray-300" lines="none">
            <ion-label class="text-md font-bold">Email</ion-label>
            <ion-text class="text-gray-400">admin@admin.com</ion-text>
        </ion-item>
        <ion-item class="border-b-2 border-gray-300" lines="none">
            <ion-label class="text-md font-bold">Address</ion-label>
            <ion-text class="text-gray-400">33 Jalan rozhan</ion-text>
        </ion-item>
        <ion-item class="border-b-2 border-gray-300" lines="none">
            <ion-label class="text-md font-bold">Shipping Address</ion-label>
            <ion-text class="text-gray-400">33 Jalan rozhan</ion-text>
        </ion-item>
        <ion-item class="border-b-2 border-gray-300" lines="none">
            <ion-label class="text-md font-bold">Payment</ion-label>
            <ion-text class="text-gray-400">Bank Transfer</ion-text>
        </ion-item>
        <ion-item class="border-b-2 border-gray-300" lines="none">
            <ion-label class="text-md font-bold">Date Joined</ion-label>
            <ion-text class="text-gray-400">27/3/2020</ion-text>
        </ion-item>
    </ion-list>
</ion-content>