<ion-content>
    <div class="bannerbg bg-gray-300">
        <div class="banner p-4">
            <div class="wrapper" *ngIf="isLoggedin; else guest">
                <div class="mb-4">
                    <ion-avatar class="mx-auto" size="large">
                        <ion-img
                            src="{{ avatar ? avatar : 'assets/images/avatar.png' }}">
                        </ion-img>
                    </ion-avatar>
                </div>

                <div class="text-center">
                    <div>{{ user.name }}</div>
                    <small>Date Joined: 27/03/2020</small>
                </div>
            </div>

            <ng-template #guest>
                <div class="flex justify-end">
                    <button (click)="signUp()" class="px-4 py-2 bg-gray-900 mr-3 text-white rounded">Sign up</button>
                    <button (click)="signIn()" class="px-4 py-2 bg-primary text-white rounded">Sign in</button>
                </div>
            </ng-template>
        </div>

        <div *ngIf="isLoggedin; else notloggedin">
            <div class="mt-2 py-2 border-b-4 border-gray-300 bg-white">
                <ion-item lines="none" class="title">
                    <ion-icon  slot="start" name="clipboard-outline"></ion-icon>
                    <div>
                        My Purchase
                    </div>
                </ion-item>
                <div style="border-bottom:solid 1px" class="w-full border-gray-300"></div>
                <div class="px-6">

                    <div class="tabs py-4 grid grid-cols-4 gap-3">
                        <div class="flex flex-col items-center">
                            <ion-icon size="large" class="text-gray-600" name="wallet-outline"></ion-icon>
                            <div class="text-xs text-gray-600">To Pay</div>
                        </div>
                        <div class="flex flex-col items-center">
                            <ion-icon size="large" class="text-gray-600" name="car-outline"></ion-icon>
                            <div class="text-xs text-gray-600">To Ship</div>
                        </div>
                        <div class="flex flex-col items-center">
                            <ion-icon size="large" class="text-gray-600" name="cube-outline"></ion-icon>
                            <div class="text-xs text-gray-600">To Receive</div>
                        </div>
                        <div class="flex flex-col items-center">
                            <ion-icon size="large" class="text-gray-600" name="star-outline"></ion-icon>
                            <div class="text-xs text-gray-600">To Rate</div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="user.is_seller" class="py-2 border-b-4 border-gray-300 bg-white">
                <ion-item lines="none">
                    <ion-icon slot="start" name="pricetag-outline"></ion-icon>
                    <ion-label>My Shop</ion-label>
                    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
                </ion-item>
                <ion-item (click)="goTo('/orders')" lines="none">
                    <ion-icon slot="start" name="document-attach-outline"></ion-icon>
                    <ion-label>Orders</ion-label>
                    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
                </ion-item>
                <ion-item (click)="goTo('/sales')" lines="none">
                    <ion-icon slot="start" name="stats-chart-outline"></ion-icon>
                    <ion-label>Sales</ion-label>
                    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
                </ion-item>
                <ion-item (click)="goTo('/products/myproducts')" lines="none">
                    <ion-icon slot="start" name="cube-outline"></ion-icon>
                    <ion-label>My Product</ion-label>
                    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
                </ion-item>
            </div>

            <div class="py-2 bg-white">
                <ion-item (click)="goTo('/profile')" lines="none">
                    <ion-icon slot="start" name="person-outline"></ion-icon>
                    <ion-label>Profile</ion-label>
                    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
                </ion-item>

                <ion-item lines="none">
                    <ion-icon slot="start" name="log-out-outline"></ion-icon>
                    <ion-label (click)="signOut()">Sign out</ion-label>
                </ion-item>
            </div>
        </div>


        <ng-template #notloggedin>

        </ng-template>
    </div>
</ion-content>