<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>My Shop</ion-title>
    <ion-buttons>
        <ion-back-button text="" slot="start"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="p-4" style="
        background-image: url('https://images.unsplash.com/photo-1539923779676-1a9bddf986db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
        background-size:cover;
        background-repeat: no-repeat;
        background-position:center center;
    ">
        <ng-container *ngIf="seller">
            <div class="relative">
                <ion-avatar class="mx-auto" size="large">
                    <ion-img
                        src="{{ seller.shop.avatar ? seller.shop.avatar : 'assets/images/avatar.png' }}">
                    </ion-img>
                </ion-avatar>
        
                <div class="text-center rounded-lg shadow-md mt-3 relative p-4">
                    <ion-icon (click)="edit()" class="absolute" style="top:15px;right:35%"  color="light" size="medium" name="create-outline"></ion-icon>
                    <div class="text-gray-500">{{ seller.shop.name }} </div>
                    <small class="text-xs text-white">Date Joined:{{seller.created_at}}</small>
                </div>
            </div>
        </ng-container>
    </div>
    <div *ngIf="myshopproducts; else spinner" class="p-4">
        <div class="grid grid-cols-2 gap-3">
            <div *ngFor="let p of myshopproducts">
                <app-productcard (click)="goToProduct(p.uid)" [product]="p"></app-productcard>
            </div>
        </div>
    </div>
    <ng-template #spinner>
        <div  class="p-4 text-center">
            <ion-spinner name="crescent" class="mx-auto"></ion-spinner>
        </div>
    </ng-template>
</ion-content>
