<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>Complete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="wrapper p-4">
        <div class="flex h-full w-full justify-center items-center">
            <div class="text-center">
                <div class="text-3xl">Thank You For Your Purchase 😊</div>
                <div class="text-sm">Go back <div (click)="gotohome()" class="underline text-primary">shopping</div></div>
            </div>
        </div>
    </div>
</ion-content>
