<ion-header mode="ios" class="fixed top-0 left-0">
    <ion-toolbar class="no-border">
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
   <ng-container *ngIf="product; else loading">
    <header>
        <div class="image overflow-hidden h-64 ">
            <img class="object-cover mx-auto" #productimg [src]="product.images[0]" />
        </div>
        <ion-slides *ngIf="product.images.length > 1" class="px-4 py-2" [options]="thumbOption">
            <ion-slide (click)="selectImage(image)" *ngFor="let image of product.images">
                <img src="{{ image }}" alt="">
            </ion-slide>
        </ion-slides>
        <div class="product-props py-3">
            <ion-item lines="none">
                <div slot="start" class="avatar flex flex-col items-center">
                    <ion-avatar>
                        <ion-img [src]="product.seller.shop.avatar ? product.seller.shop.avatar : 'assets/images/avatar.png'"></ion-img>
                    </ion-avatar>
                    <div class="text-tiny">{{ product.seller.shop.name }}</div>
                </div>
                <div>
                    <div class="text-md text-semibold">{{ product.name }}</div>
                    <div class="text-xs capitalize text-primary">{{ product.category.subcategory }}</div>
                    <div class="price flex">
                        <div class="text-md mr-2 text-semibold">RM {{ product.sale_price }}</div>
                        <div class="text-md text-gray-300 line-through">RM {{ product.price }}</div>
                    </div>
                </div>
            </ion-item>
        </div>
    </header>
    <div class="wrapper bg-gray-100 px-4 py-3">
        <ion-button [disabled]="load" (click)="addToCart()" class="rounded" color="primary" expand="block">
            Add to Cart <ion-spinner class="ml-3" *ngIf="load" name="crescent"></ion-spinner>
        </ion-button>
    </div>

    <ng-container>
        <ion-item lines="none" (click)="expandItem(product.desc)">
            <div class="text-md text-bold">Description</div>
            <ion-icon slot="end" [name]="product.desc.expanded ? 'chevron-down-outline' : 'chevron-up-outline'">
            </ion-icon>
        </ion-item>

        <app-expandable expandHeight="100px" [expanded]="product.desc.expanded">
            <div class="px-6">
                {{ product.desc.text }}
            </div>
        </app-expandable>
    </ng-container>

    <div class="divider border-b-2 border-gray-300 my-3 mx-6"></div>

    <ion-item lines="none">
        <div class="text-md font-semibold">Reviews</div>
    </ion-item>
    <ng-container *ngIf="product.reviews && product.reviews.length > 0; else bethefirst">

        <div class="review-card flex items-center bg-tertiary px-6 py-2 rounded-md mx-6">
            <div class="font-bold text-light text-6xl mr-2">{{product.review_rate}}</div>
            <div>
                <div class="text-md text-light text-semibold">{{product.reviews.length}} reviews</div>
                <app-stars [score]="product.review_rate"></app-stars>
            </div>
        </div>

        <div class="review-list my-4 mx-6">
            <div *ngFor="let review of product.reviews" class="review-item mb-3 relative">
                <ng-container *ngIf="review.user | async as user">
                    <div class="flex flex-between items-start">
                        <div class="avatar">
                            <ion-avatar>
                                <ion-img [src]="user.avatarUrl ? user.avatarUrl : 'assets/images/avatar.png'"></ion-img>
                            </ion-avatar>
                        </div>
                        <div class="flex flex-col content px-3">
                            <div class="text-md">{{user.name}}</div>
                            <div class="date text-tiny text-gray-400">12.03.2019 at 09.38</div>
                            <div class="message text-tiny text-gray-500">
                                {{review.message}}
                            </div>
                        </div>
                    </div>
    
                    <div class="absolute top-0 right-0">
                        <app-stars [score]="review.rate"></app-stars>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-container>

    <ng-template #bethefirst>
        <div class="px-6 py-4">
            <div class="text-xs text-gray-400">There is no review for this product yet &nbsp;<a class="underline text-primary text-xs">be the first</a></div>
        </div>
    </ng-template>
   </ng-container>

   <ng-template #loading>
    <div class="px-6 mt-10 pt-2 text-center">
        <ion-spinner color="primary" name="crescent"></ion-spinner>
    </div>
</ng-template>


</ion-content>